{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Бросок под углом к горизонту{% endblock%}
{% block ogl %}<h1>Бросок под углом к горизонту</h1>{% endblock %}
{% block content %}
    <div class="features">
        <p>Бросок под углом к горизонту — это классический пример движения тела в двух измерениях, который часто рассматривается в физике. При таком броске тело движется под воздействием силы тяжести и начальной скорости, заданной под определённым углом.<br>
        Начальная скорость можно разложить на две составляющие: горизонтальную (x) и вертикальную (y). Горизонтальная составляющая остаётся постоянной (1), так как на неё не действует никакая горизонтальная сила (если не учитывать сопротивление воздуха). Вертикальная составляющая изменяется под воздействием силы тяжести (2), которая ускоряет объект вниз.</p>
        <p>Используя формулы (1) и (2) можно составить функции зависимости координат тела на оси x и y от времени t, (3) и (4) соответсвенно.</p>
    </div>
    <div class="forms">
        <img src="{% static 'main/img/brosok.png' %}" alt="">
        <p><i>рис.1</i></p>
        <p>(1) U<sub>x</sub>=U<sub>0x</sub>=const</p>
        <p>(2) U<sub>y</sub>=U<sub>0y</sub> - gt</p>
        <p>(3) x(t) = x<sub>0</sub> + U<sub>x</sub>t</p>
        <p>(4) y(t) = y<sub>0</sub> + U<sub>0y</sub>t + gt<sup>2</sup>/2</p>
    </div>
    <div class="ogl"><a class="btn btn-warning" target="_blank" href="{% static 'main/scene/AtAngle/index.html' %}">Посмотреть модель</a></div>
{% endblock %}