{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock%}
{% block ogl %}<h1>Главная страница</h1>{% endblock %}
{% block content %}
    <div class="ogl"><p>Цель нашей работы — интегрировать на собственный сайт интерактивные симуляторы физических экспериментов с изменяемыми параметрами.</p></div>
    <div class="Nik"><img src="{% static 'main/img/Nik.jpg' %}" alt="">
    <p>Молчан Никита Дмитриевич</p></div>
    <div class="Roma"><img src="{% static 'main/img/Roma.jpg' %}" alt="">
    <p>Ильин Роман Витальевич</p></div>
    <div class="Yura"><img src="{% static 'main/img/Жежелев.jpg' %}" alt="">
    <p>Жежелев Юрий Андреевич</p></div>
    <div class="cen"><p>Данный сайт был разработан для углубленного изучения физики, ориентирован на школьников 7-9 классов. <br> На боковой панели представлены темы, по которым уже существуют страницы на нашем сайте, вы можете изучить интересующую Вас тему.</p></div>
{% endblock %}