{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Колыбель Ньютона{% endblock%}
{% block ogl %}<h1>Колыбель/шары Ньютона</h1>{% endblock %}
{% block content %}
    <div class="features">
        <p>На самом деле действие шаров Ньютона основано на законе сохранения импульса.</p>
        <p>Импульс (от лат. impulsus — «толчок») — векторная физическая величина, являющаяся мерой механического движения тела. В классической механике импульс тела равен произведению массы этого тела на его скорость, направление импульса совпадает с направлением вектора скорости (1)</p>
        <p>Если сумма сил, действующих на тело или систему, равна нулю, то говорят, что выполняется "Закон сохранения импульса". Закон сохранения импульса гласит, что суммарный импульс замкнутой системы тел остаётся постоянным при любых взаимодействиях тел системы между собой (2)</p>
        <p>Рассмотрим взаимодействие шаров. Допустим, крайний левый шарик приобрел скорость и он ударяется о соседний шарик, тот, в свою очередь, ударится о соседа справа от него (на самом деле между шарами есть очень маленький зазор, позволяющий незаметно удариться шарикам), а тот о своего соседа - и так до самого последнего шара, он полетит вправо, ведь справа от него нет шаров. Так как шарики бились поочередно, и они одинаковой массы, то согласно закону сохранения импульса (2), скорость, которая была у первого шарика, поочередно передастся до последнего.</p>
    </div>
    <div class="forms">
        <img src="{% static 'main/img/kolibel.jpg' %}" alt="">
        <p>(1) p = mU, где m - масса тела, U - его скорость</p>
        <p>(2) p<sub>01</sub>+p<sub>02</sub>+p<sub>03</sub>+... = p<sub>k1</sub>+p<sub>k2</sub>+p<sub>k3</sub>+...</p>
    </div>
    <div class="ogl"><a class="btn btn-warning" target="_blank" href="https://rutube.ru/video/d261237361fd8aa39135e53ab88037b2/">Посмотреть модель</a></div>
{% endblock %}