{% extends 'main/layout.html' %}

{% block title %}Маятник{% endblock%}
{% block ogl %}<h1>Пружинный маятник</h1>{% endblock %}
{% block content %}
    <div class="features">
        <p>Пружинный маятник — это простая механическая система, состоящая из тяжелого тела, подвешенного на пружине.</p>
        <p>Движение маятника можно охарактеризовать как гармоническое (т.е. в процессе такого движения величины, характеризующие движение (смещение, скорость, ускорение и др.), изменяются по закону синуса или косинуса). Когда маятник отклоняется, на него действуют две силы: сила тяжести, и сила упругости. При этом маятник приобретает потенциальную энергию, которая преобразуется в кинетическую энергию, когда он возвращается к равновесию.</p>
        <p>Была составлено и решено дифференциальное уравнение, из которого выяснили формулу собственной циклической частоты пружинного маятника (1), а решениями стали функции зависимости координаты x от времени t (2) и (3)<br>
        Причем используют формулу (2), если маяник начинает движение с положения равновесия и (3), если маятник начинает движение с положения максимального отклонения</p>
        <p>Затем Гюйгенс определил формулу периода колебаний (4), из которой получили формулу частоты колебаний (5)</p>
        <p>Важно понимать, что фаза (μ<sub>0</sub> + wt) - это величина, определяющая положение маятника в момент времени t</p>
    </div>
    <div class="forms">
        <p>(1)  w<sub>0</sub> = √(k/m) ,<br>
        где w<sub>0</sub> - это собственная циклическая частота,
        k - это коэффициент жесткости пружины, m - масса груза</p>
        <p>(2)  x(t) = x<sub>м</sub>sin(μ<sub>0</sub> + wt)<br>
        (3)  x(t) = x<sub>м</sub>cos(μ<sub>0</sub> + wt) ,<br>
        где μ<sub>0</sub> - это начальная фаза, x<sub>м</sub> - это координата положения максимального отклонения по оси X</p>
        <p>(4)  T = 2π√(m/k) ,<br>
        где T - это период колебаний</p>
        <p>(5) υ = 1/(2π)√(k/m) ,<br>
        где υ - это частота колебаний</p>
    </div>
    <div class="ogl"><a class="btn btn-warning" target="_blank" href="https://rutube.ru/video/ebd08e62dc885ffbb194a93374ad46d1">Посмотреть модель</a></div>
    <div class="perehod"><a class="btn btn-danger" href="{% url 'pendulum' %}">Что с математическим?</a></div>
{% endblock %}