{% extends 'main/layout.html' %}
{% load static %}
{% block ogl %}<h1>Трение</h1>{% endblock %}
{% block title %}Трение{% endblock%}
{% block content %}
    <div class="features">
        <p>Трение — это физическое явление, возникающее при контакте двух поверхностей, которое препятствует их относительному движению. Из этого следует, что вектор силы трения всегда направлен против направления возможного движения тела. Разделяют два вида трения: сухое и вязкое. </p>
        <p>Вязкое трение - это трение тел о различные жидкости или газы. Например трение летящего мяча о воздух (рис.1)</p>
        <p>Сухое трение делится ещё на 3 типа: покоя, скольжения, качения. В рамках школьного курса мы не будем рассматривать вязкое трение и трения качения.</p>
        <p>1) Трение покоя возникает, когда тело не двигается. Это значит, что сумма сил, действующих на тело (за исключением силы трения), меньше или равно μN (F<=μN). Однако важно понять, что если F<sub>тр</sub>=μN, то равнодействующая сил R перестанет равняться нулю и тело сдвинется, но трение покоя возникает только если тело не двигается - противоречие. Поэтому, на самом деле, F<sub>тр</sub> компенсирует силы, действующие на тело, т.е. F=F<sub>тр</sub> (Но ни в коем случае не F<sub>тр</sub>=μN - это ошибка!), из-за чего R=0.</p>
        <p>2) Трение скольжения возникает, как вы можете догадаться, когда тело двигается. Именно в таком случае принято считать, что F<sub>тр</sub>=μN.</p>
        <p>3) Ещё древние строители заметили, что если тяжёлый предмет поставить на колёсики, то сдвинуть с места и затем катить его будет гораздо легче, чем тянуть волоком. Однако всё равно нужно толкать или тянуть тело, чтобы оно не остановилось. Значит, на него действует сила трения качения. Это сила сопротивления движению при перекатывании одного тела по поверхности другого.(рис.3)</p>
    </div>
    <div class="pictures">
        <img src="{% static 'main/img/mach.png' %}" alt="mach">
        <p><i>рис.1</i></p>
        <img src="{% static 'main/img/pokoi.png' %}" alt="pokoi">
        <p><i>рис.2</i></p>
        <img src="{% static 'main/img/kach.png' %}" alt="pokoi">
        <p><i>рис.3</i></p>
    </div>
    <div class="ogl"><a class="btn btn-warning" target="_blank" href="{% static 'main/scene/Friction/index.html' %}">Посмотреть модель</a></div>
{% endblock %}